<div class="border rounded-lg p-6 hover:shadow-lg transition-shadow relative">
  <% if listing.sold? %>
    <div class="absolute top-4 right-4 bg-red-500 text-white px-2 py-1 rounded-md text-sm">
      Sold
    </div>
  <% end %>
  
  <div class="text-sm text-gray-500">
    <%= number_with_delimiter(listing.views_count) %> views
  </div>
  
  <% if listing.images.attached? %>
    <div class="h-[298px] flex items-center justify-center bg-gray-50 rounded-lg">
      <%= image_tag listing.thumb_url(listing.images.first),
          class: "max-h-[298px] w-full object-contain rounded-lg" %>
    </div>
  <% end %>
  
  <h3 class="text-xl font-semibold"><%= listing.title %></h3>
  <% if listing.user.company_name.present? %>
    <p class="text-sm text-gray-500 mt-1">by <%= listing.user.company_name %></p>
  <% end %>
  <p class="text-gray-600 mt-2"><%= truncate(listing.description, length: 150) %></p>
  <p class="text-indigo-600 font-bold mt-4"><%= number_to_currency(listing.price) %></p>
  
  <div class="mt-4 flex justify-between items-center">
    <%= link_to "View Details", listing_path(listing), class: "text-indigo-600 hover:text-indigo-800" %>
    
    <div class="text-right">
      <span class="text-sm text-gray-500"><%= listing.category %></span>
      <% if listing.city.present? && listing.state.present? %>
        <p class="text-sm text-gray-500 mt-1"><%= "#{listing.city}, #{listing.state}" %></p>
      <% end %>
    </div>
  </div>
</div> 