<!DOCTYPE html>
<html>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8G5XZKFEZM"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-8G5XZKFEZM');
    </script>

    <title>VC Subsidized - Your Loss, Someone's Gain</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :meta_tags %>

    <%= stylesheet_link_tag "tailwind", href: asset_path("tailwind.css"), "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-gray-50">
    <div class="min-h-screen bg-gray-50">
      <%= render "shared/navigation" %>
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
        <%= render "shared/flash" %>
        <%= yield %>
      </div>
      <%= render "shared/footer" %>
    </div>
  </body>
</html> 